In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\\Users\\Admin\\05-01-2023 Instacart Basket Analysis'

In [4]:
df_orders_products_merged= pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_update.pkl'))
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly days,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders

In [5]:
df_orders_products_merged.shape

(3189714, 19)

In [6]:
# Calulating the mean orders per department
df_orders_products_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.286566
2                17.451982
3                17.505393
4                17.816659
5                15.021022
6                16.486396
7                17.360409
8                15.368828
9                16.072928
10               20.548770
11               16.137453
12               15.840493
13               16.602816
14               16.769872
15               16.181871
16               17.695854
17               16.130565
18               19.429030
19               17.116584
20               16.646879
21               22.410070

    "It is interesting to see that certain depts haven't changed almost at all such as dept 7 (only 0.2) and the rest have changed from 1-4 points. The change is of course expected since the first time we run this code was only in the first 1000000 rows instead now is the full dataset."the number of observations per department is lower than for the complete dataset, meaning that the mean also varies.

4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [8]:
# creating “max_order” column using transform()
df_orders_products_merged['max_order'] = df_orders_products_merged.groupby(['user_id'])['order_number'].transform(np.max)
df_orders_products_merged.head(10)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly days,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly days,Average orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Busiest days,Average orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,both,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,both,Soda,77,7,9.0,both,Mid-range product,Busiest days,Average orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10

In [9]:
# Creating a 'loyalty' flag
df_orders_products_merged.loc[df_orders_products_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [10]:
# Creating a 'loyalty' flag
df_orders_products_merged.loc[(df_orders_products_merged['max_order'] <= 40) & (df_orders_products_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [11]:
# Creating a 'loyalty' flag
df_orders_products_merged.loc[df_orders_products_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [12]:
df_orders_products_merged['loyalty_flag'].value_counts()

Regular customer    1550077
Loyal customer      1017744
New customer         621893
Name: loyalty_flag, dtype: int64

In [13]:
df_orders_products_merged[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [14]:
# descriptive statistics for the loyalty_flag
df_orders_products_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max         sum
loyalty_flag
Loyal customer     9.674177  1.0  99999.0   9845835.2
New customer      14.326817  1.0  99999.0   8909747.2
Regular customer  11.389218  1.0  99999.0  17654164.4

6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

1.If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
2.If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [15]:
df_orders_products_merged['average_price'] = df_orders_products_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
df_orders_products_merged['average_price'] = df_orders_products_merged['average_price'].round(2)

In [17]:
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly days,Average orders,10,New customer,6.37
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.37
2,473747,1,prior,3,3,12,21.0,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.37
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.37
4,431534,1,prior,5,4,15,28.0,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.37

In [18]:
# Creating a 'spending_flag' flag
df_orders_products_merged.loc[df_orders_products_merged['average_price'] < 10, 'spending_flag'] = 'Low spender'
df_orders_products_merged.loc[df_orders_products_merged['average_price'] >= 10, 'spending_flag'] = 'High spender'
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,7,9.0,both,Mid-range product,Regularly days,Average orders,10,New customer,6.37,Low spender
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.37,Low spender
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.37,Low spender
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.37,Low spender
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.37,Low spender

In [19]:
df_orders_products_merged['spending_flag'].value_counts()

Low spender     3128271
High spender      61443
Name: spending_flag, dtype: int64

#7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

a)If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
b)If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
c)If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [21]:
df_orders_products_merged['median_prior_orders'] = df_orders_products_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,9.0,both,Mid-range product,Regularly days,Average orders,10,New customer,6.37,Low spender,20.5
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.37,Low spender,20.5
2,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.37,Low spender,20.5
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.37,Low spender,20.5
4,431534,1,prior,5,4,15,28.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.37,Low spender,20.5

In [22]:
df_orders_products_merged.loc[df_orders_products_merged['median_prior_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [23]:
df_orders_products_merged.loc[(df_orders_products_merged['median_prior_orders'] > 10) & (df_orders_products_merged['median_prior_orders'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [24]:
df_orders_products_merged.loc[df_orders_products_merged['median_prior_orders'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [25]:
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders,order_frequency_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,both,Mid-range product,Regularly days,Average orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,both,Mid-range product,Slowest days,Average orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,both,Mid-range product,Slowest days,Most orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,both,Mid-range product,Slowest days,Average orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,both,Mid-range product,Slowest days,Most orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer

In [26]:
df_orders_products_merged['spending_flag'].value_counts()

Low spender     3128271
High spender      61443
Name: spending_flag, dtype: int64

9. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [27]:
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_orders_products_merged_updated_2.pkl'))